.jumbotron {
    color: white;
    background-image: url("https://i.imgur.com/VERu23p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .container {
    position: relative;
    margin-left:20px;
    top: 55%;
    transform: translateY(-50%);
  }

  .fab {
   color: white!important;
   padding: 5px;
   font-size: 30px;
  }